
.button{
    
    padding: 20px;
    margin: 15px;
    border: 2px solid black;
    width: 10%;

}
#grey{
    background-color: gray;
    color: red;
}
#white{
    background-color: white;
    color: black;
}
#blue{
    background-color: blue;
    color: white;
}
#yellow{
    background-color: yellow;
    color: black;
}